# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json

# Build directory
.DS_Store
.vscode/

# gatsby files
.cache/
public/page-data
public/index.html
public/static
public/render*
public/*.png
public/*.pdf